.tabs {
    margin-bottom: 20px;
}

.MuiFormControl-root {
    width: 80%;
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
} 

#error-msg-div {
    display: flex;
    font-size: smaller;
}

#error-msg {
    width: 80%;
    margin: auto;
    text-align: left;
}

#customer-profile {
    color: white;
}

@media screen and (max-width: 600px) {
    #error-msg-div {
        font-size: x-small;
    }
}