.main-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.delivery-payment-section {
    width: 70%;
}

.existing-address-grid-list {
    flex-wrap: nowrap;
    transform: translateZ(0);
}

.summary-section {

}